* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli',sans-serif;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.input {
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
}

.message {
  outline: none;
  height: 123px;
  border-radius: 4px;
  padding: 18px 23px;
  border: none;
}

.button {
  min-width: 160px;
  min-height: 50px;
  padding: 18px;
  outline: none;
  cursor: pointer;
  background-color: #EC1F46;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.invalid {
  color: #EC1F46;
  border-bottom: 1px soli #EC1F46;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.navbar {
  background-color: #ffffff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-button {
  background-color: #0A223D;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
  background-color: #0A223D;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
}

.navbar-menu__item--mobile--visible {
  display: none;
}

.logo {
  max-width: 177px;
}

.menu-button {
  display: none;
  outline: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  max-width: 350px;
  height: 40px;
  padding-left: 23px;
  outline: none;
  background-color: #F5FAFE;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  padding-right: 75px;
}

.search__input-group {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 55px;
}

.search__button {
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 65px;
  outline: none;
  top: 0;
  right: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #EC1F46;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb {
  background-color: #F5FAFE;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 18px 0;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  background-color: #F5FAFE;
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
  border-radius: 3px;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 5px 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-slider {
  width: 728px;
  height: 450px;
}

.hotel-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-slider__item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.hotel-slider__button {
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.hotel-slider__button--next {
  right: 18px;
  outline: none;
}

.hotel-slider__button--prev {
  left: 18px;
  outline: none;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border: radius 3px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #EC1F46;
  border-radius: 4px;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.booking {
  background-color: #0A223D;
  color: #ffffff;
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 28px;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}

.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__start {
  font-family: Nunito;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-family: Nunito;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-family: Nunito;
  font-size: 12px;
  line-height: 16px;
}

.booking__room {
  margin-top: 4px;
}

.booking__text {
  font-size: 12px;
  line-height: 16px;
  min-width: 80px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__descriptionss {
  font-family: Nunito;
  margin-left: 9px;
}

.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

.booking__call-center__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.booking__call-center__num {
  font-family: Nunito;
  margin-left: 8px;
}

.booking__heading {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__button {
  font-family: Nunito;
  width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
  outline: none;
  background-color: #EC1F46;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

#map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

.newsletter {
  position: relative;
  padding: 98px 0 87px 0;
  background-image: url(../img/newsletter-bg.jpg);
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 731px;
  margin: auto;
}

.newsletter-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.newsletter-title__strong {
  display: block;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  width: 350px;
  height: 55px;
  overflow: hidden;
  border-radius: 4px;
}

.subscribe__input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 33px;
  padding-right: 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
}

.subscribe__input-group {
  border-radius: 4px;
  width: 350px;
  height: 55px;
  position: absolute;
}

.subscribe__button {
  position: absolute;
  min-width: 65px;
  max-width: 80px;
  right: 0;
  top: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  color: #ffffff;
}

.reviews {
  background-color: #F5FAFE;
  padding: 40px 0 70px 0;
}

.reviews__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.reviews-slider__item {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px auto 0;
  max-width: 730px;
  padding: 0 62px 30px;
}

.reviews-slider__item::before {
  content: '';
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  left: 62px;
  top: 13px;
  width: 70px;
  height: 47px;
  position: absolute;
}

.reviews-slider__item::after {
  content: '';
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
  right: 62px;
  top: 118px;
  width: 70px;
  height: 47px;
  position: absolute;
}

.reviews-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.reviews-slider__button--prev {
  background-image: url(../img/Stroke1.svg);
  left: 0;
  outline: none;
}

.reviews-slider__button--next {
  background-image: url(../img/Stroke-2.svg);
  right: 0;
  outline: none;
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -45px;
  margin-bottom: 30px;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
}

.reviews-slider__username {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
}

.reviews-slider__date {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}

.reviews-slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  margin: auto;
  max-width: 537px;
}

.activities {
  padding: 60px 0 98px 0;
}

.activities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
}

.activities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  padding: 24px 26px;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: -1;
}

.card__image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.card__title {
  margin-top: auto;
  margin-bottom: 18px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.card__button {
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  outline: none;
}

.packages {
  width: 100%;
  padding: 40px 0 70px 0;
  background-color: #F5FAFE;
}

.packages-horizonelement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  max-width: 730px;
}

.packages-horizonelement__image {
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

.packages-horizonelement__offer {
  position: absolute;
  padding: 8px 12px;
  background-color: #EC1F46;
  color: #ffffff;
  top: 26px;
  left: 0;
  border-radius: 0 8px 8px  0;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.packages-horizonelement-image {
  max-width: 366px;
  height: 500px;
  border-radius: 8px;
}

.packages-horizonelement-text {
  max-width: 364px;
  height: 500px;
  background-color: #0A223D;
  border-radius: 0 8px 8px 0;
  color: #ffffff;
  padding: 40px 21px 27px 44px;
}

.packages-horizonelement__introduction {
  margin-top: 6px;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.packages-horizonelement__description {
  margin: 0;
  margin-bottom: 34px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160.6%;
}

.packages-horizonelement-guests {
  margin-bottom: 37px;
}

.packages-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.packages-cost-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.packages-cost-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.packages-cost__high {
  font-family: Mulish;
  font-style: normal;
  font-weight: norma;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-bottom: 5px;
}

.packages-cost__low {
  font-family: Mulish;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.packages-guests {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.packages-guests-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 11px;
}

.packages-guests__icon {
  margin-right: 15px;
}

.packages-guests__description {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.packages__button {
  display: block;
  padding: 10px 26px;
  background: #EC1F46;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Mulish;
}

.packages__text {
  position: relative;
  background-color: #0A223D;
  padding: 30px 21px 27px 32px;
  max-width: 350px;
  height: 250px;
  color: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.packages__introduction {
  margin: 0 0 23px 0;
  font-family: Mulish;
}

.packages__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.packages-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 350px);
  -ms-grid-rows: 500px 500px;
      grid-template-rows: 500px 500px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.packages-element {
  border-radius: 8px;
  position: relative;
}

.packages-element__offer {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  top: 26px;
  left: 0;
  color: #ffffff;
  z-index: 200;
  position: absolute;
  background-color: #EC1F46;
  padding: 4px 9px;
  border-radius: 0px 4px 4px 0px;
}

.packages-element:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.packages-element-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.packages-element-image {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 350px;
  height: 250px;
  overflow: hidden;
}

.packages-element-image:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 122, 223, 0.1);
  z-index: 100;
}

.packages-element {
  max-height: 500px;
  overflow: hidden;
}

.packages-element__image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
}

.packages-cost__low {
  font-size: 14px;
}

.packages-horizonelement-guests-text:nth-child(-n+2) {
  margin-bottom: 11px;
}

.packages-horizonelement-guests__icon {
  margin-right: 16px;
}

.packages-horizonelement-guests__description {
  font-family: Mulish;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer {
  background-color: #0A223D;
  color: #ffffff;
  padding-top: 108px;
  padding-bottom: 46px;
}

.footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-info {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.footer-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-text__item:nth-child(-n+2) {
  margin-right: 15px;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, -webkit-min-content);
  grid-auto-rows: minmax(40px, min-content);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__legal {
  margin-left: 50px;
}

.footer__logo {
  width: 166px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.footer__categories {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 83px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  grid-column: span 2;
}

.footer__contact-details {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.footer__contact-form {
  grid-column: span 2;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

.footer__item-link {
  text-decoration: none;
  display: inline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

.footer__item--mb-2 {
  margin-bottom: 22px;
}

.footer__text {
  color: #BDBDBD;
  margin-bottom: 22px;
}

.footer__icon {
  margin-right: 20px;
}

.footer__icon-wrapper {
  min-width: 40px;
}

.footer__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}

.footer__title--inline {
  margin: 0 43px 0 0;
}

.footer__title--mb-3 {
  margin-bottom: 30px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__input {
  width: 100%;
}

.footer__input-group {
  margin-bottom: 15px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.footer__message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 23px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer__info {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 143, 223, 0.39);
  z-indez: 201;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 478px;
  padding: 33px 88px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #0A223D;
  color: #ffffff;
  z-index: 202;
  visibility: hidden;
  opacity: 0;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  cursor: pointer;
}

.modal__input {
  width: 100%;
  margin-top: 15px;
}

.modal__message {
  width: 100%;
  min-height: 123px;
  margin-top: 15px;
}

.modal__button {
  margin-top: 15px;
}

.modal__info {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.modal__title {
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navbar__menu-button {
    display: none;
  }
  .hotel-slider {
    height: 450px;
    width: 590px;
  }
  .hotel-slider__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .packages-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .packages__title {
    text-align: center;
  }
  .footer__input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .modal__button {
    margin-bottom: 20px;
  }
  .footer-info {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .footer-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer-card {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
  }
  .footer__input-group {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .footer-wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
  }
  .footer__input-group {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: span 2;
  }
  .footer__social-network {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: span 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__categories {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: span 2;
  }
  .footer__legal {
    grid-column: span 2;
  }
  .footer__addition {
    grid-column: span 2;
    margin: 0;
  }
  .footer__contact-details {
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column: span 5;
  }
  .footer__contact-form {
    grid-column: span 5;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .packages__button {
    padding: 10px 12px;
  }
  .packages-horizonelement-image {
    max-width: 280px;
  }
  .packages-horizonelement-text {
    max-width: 326px;
    padding: 40px 21px 27px 24px;
  }
  .packages-element__image {
    border-radius: 8px 0 0 8px;
  }
  .packages-element-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .packages__text {
    border-radius: 0px 8px 8px 0;
  }
  .container,
  .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
    max-width: 340px;
  }
  .navbar__menu-button {
    display: none;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .hotel__slider {
    margin-bottom: 30px;
    width: 100%;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hotel-slider {
    width: 100%;
    height: 350px;
  }
  .booking {
    width: 340px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .activities-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .card {
    width: 340px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .packages__title {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .packages-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .packages-element__image {
    border-radius: 8px 0 0 8px;
  }
  .packages-element-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .packages__text {
    border-radius: 0px 8px 8px 0;
  }
  .swiper-container {
    height: 400px;
  }
  .activities {
    padding-bottom: 0;
  }
  .reviews {
    padding-bottom: 0;
  }
  .packages {
    padding-top: 0;
  }
  .packages-horizonelement-text {
    max-width: 300px;
    min-width: 250px;
    padding: 20px 21px 27px 24px;
  }
  .packages-horizonelement__image {
    min-width: 250px;
  }
  .packages-horizonelement__description {
    margin-bottom: 20px;
  }
  .container {
    max-width: 576px;
    width: 92%;
  }
  body {
    padding-top: 78px;
  }
  .navbar__search {
    max-width: 340px;
  }
  .navbar--mobile_fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 300;
  }
  .navbar__user--mobile--hidden, .navbar__search--mobile--hidden {
    display: none;
  }
  .navbar__user--mobile--visible, .navbar__search--mobile--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-button {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 78px;
    padding-top: 30px;
  }
  .navbar-button--visible {
    display: block;
  }
  .navbar-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item--mobile--visible {
    display: block;
  }
  .menu-button {
    width: 16px;
    height: 11px;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .user__name--light {
    color: #ffffff;
    margin-left: 0;
    margin-top: 10px;
  }
  .hotel__slider {
    height: 350px;
    width: 100%;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0px !important;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__rating {
    display: none;
  }
  .stars {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  .hotel-slider {
    height: 350px;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 450px;
  }
  .booking {
    width: 100%;
  }
  #map {
    width: 100%;
  }
  .newsletter-wrapper {
    max-width: 576px;
    width: 92%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item:aftre, .reviews-slider__item:before {
    display: none;
  }
  .reviews-slider__button {
    top: 30px;
  }
  .reviews-slider__button--prev {
    left: 50%;
    margin-left: -65px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    right: 50%;
    margin-right: -65px;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .activites {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .card {
    width: 48%;
    height: 255px;
  }
  /*.packages
    &-horizonelement
      &:first-child
        display: none */
  .footer__input-group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .modal__dialog {
    padding: 20px 45px;
  }
}

@media (max-width: 576px) {
  .modal__dialog {
    padding: 20px 45px;
  }
  .hotel {
    padding-bottom: 50px;
  }
  .packages__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .packages-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .packages-element__image {
    border-radius: 8px 8px 0 0;
  }
  .packages-element-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .packages-button {
    margin-bottom: 30px;
  }
  .packages-horizonelement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .packages-horizonelement__introduction {
    margin-bottom: 10px;
  }
  .packages-horizonelement-text {
    height: 250px;
    max-width: 350px;
    padding: 20px 21px 23px 24px;
    border-radius: 0;
  }
  .packages-horizonelement__offer {
    font-size: 8px;
    line-height: 10px;
    padding: 4px 9px;
  }
  .packages-horizonelement__image {
    height: 100%;
    width: 100%;
    border-radius: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  .packages-horizonelement__description {
    display: none;
    margin-bottom: 20px;
  }
  .packages-horizonelement-guests {
    margin-bottom: 20px;
  }
  .packages-horizonelement-image {
    height: 250px;
    max-width: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  .packages__text {
    border-radius: 0 0 8px 8px;
  }
  .logo {
    width: 99px;
  }
  .stars {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  .hotel-slider {
    height: 250px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter-title {
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .subscribe {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .footer-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .footer__logo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__social-network {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__addition {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__categories {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__legal {
    margin: 0;
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__contact-details {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__contact-form {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer-info {
    height: 20px;
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer-card {
    margin-top: -30px;
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 380px) {
  .search__inpup {
    width: 100px;
  }
  .navbar__search {
    max-width: 250px;
  }
  .packages-element-media {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */