* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli',sans-serif;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #ffffff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-button {
  background-color: #0A223D;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
  background-color: #0A223D;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
}

.logo {
  max-width: 177px;
}

.menu-button {
  display: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  outline: none;
  background-color: #F5FAFE;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  padding-right: 75px;
}

.search__button {
  position: absolute;
  height: 100%;
  width: 65px;
  outline: none;
  top: 0;
  right: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #EC1F46;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb {
  background-color: #F5FAFE;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 18px 0;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  background-color: #F5FAFE;
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
  border-radius: 3px;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 5px 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-slider {
  width: 728px;
  height: 450px;
}

.hotel-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-slider__item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.hotel-slider__button {
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.hotel-slider__button--next {
  right: 18px;
  outline: none;
}

.hotel-slider__button--prev {
  left: 18px;
  outline: none;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border: radius 3px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #EC1F46;
  border-radius: 4px;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.booking {
  background-color: #0A223D;
  color: #ffffff;
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 28px;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}

.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__start {
  font-family: Nunito;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-family: Nunito;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-family: Nunito;
  font-size: 12px;
  line-height: 16px;
}

.booking__room {
  margin-top: 4px;
}

.booking__text {
  font-size: 12px;
  line-height: 16px;
  min-width: 80px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__description {
  font-family: Nunito;
  margin-left: 9px;
}

.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

.booking__call-center__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.booking__call-center__num {
  font-family: Nunito;
  margin-left: 8px;
}

.booking__heading {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__button {
  font-family: Nunito;
  width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
  outline: none;
  background-color: #EC1F46;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

#map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

.newsletter {
  position: relative;
  padding: 98px 0 87px 0;
  background-image: url(../img/newsletter-bg.jpg);
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 731px;
  margin: auto;
}

.newsletter-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.newsletter-title__strong {
  display: block;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.subscribe__button {
  position: absolute;
  min-width: 65px;
  max-width: 80px;
  right: 0;
  top: 0;
  outline: none;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  color: #ffffff;
}

.reviews {
  background-color: #F5FAFE;
  padding: 40px 0 70px 0;
}

.reviews__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.reviews-slider__item {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px auto 0;
  max-width: 730px;
  padding: 0 62px 30px;
}

.reviews-slider__item::before {
  content: '';
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  left: 62px;
  top: 13px;
  width: 70px;
  height: 47px;
  position: absolute;
}

.reviews-slider__item::after {
  content: '';
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
  right: 62px;
  top: 118px;
  width: 70px;
  height: 47px;
  position: absolute;
}

.reviews-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.reviews-slider__button--prev {
  background-image: url(../img/Stroke1.svg);
  left: 0;
  outline: none;
}

.reviews-slider__button--next {
  background-image: url(../img/Stroke-2.svg);
  right: 0;
  outline: none;
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -45px;
  margin-bottom: 30px;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
}

.reviews-slider__username {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
}

.reviews-slider__date {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}

.reviews-slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  margin: auto;
  max-width: 537px;
}

.activities {
  padding: 60px 0 98px 0;
}

.activities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
}

.activities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  padding: 24px 26px;
  width: 255px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: -1;
}

.card__image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.card__title {
  margin-top: auto;
  margin-bottom: 18px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.card__button {
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  outline: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navbar__menu-button {
    display: none;
  }
  .hotel-slider {
    height: 450px;
    width: 590px;
  }
  .hotel-slider__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 992px) {
  .container,
  .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
    min-width: 340px;
  }
  .navbar__menu-button {
    display: none;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .hotel__slider {
    margin-bottom: 30px;
    width: 100%;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hotel-slider {
    width: 100%;
    height: 350px;
  }
  .booking {
    width: 340px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .activities-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .card {
    width: 340px;
    height: 230px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .menu-button {
    width: 16px;
    height: 11px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .hotel__slider {
    height: 350px;
    width: 100%;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0px !important;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__rating {
    display: none;
  }
  .stars {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  .hotel-slider {
    height: 350px;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 450px;
  }
  .booking {
    width: 100%;
  }
  #map {
    width: 100%;
  }
  .newsletter-wrapper {
    max-width: 576px;
    width: 92%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item:aftre, .reviews-slider__item:before {
    display: none;
  }
  .reviews-slider__button {
    top: 30px;
  }
  .reviews-slider__button--prev {
    left: 50%;
    margin-left: -65px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    right: 50%;
    margin-right: -65px;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .activites {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .card {
    width: 48%;
    height: 255px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .stars {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  .hotel-slider {
    height: 250px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter-title {
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .subscribe {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */