@media (max-width: 1200px )
  .container
    max-width: 960px
  .navbar
    &__menu-button
      display: none
  .hotel
    &-slider
      height: 450px
      width: 590px 
      &__image
        width: 100%
        height: 100%
        object-fit: cover 
  .card
    width: 230px
    height: 230px
  .packages
    &-grid 
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin: 
      width: 100%
    &__title
      text-align: center
  .footer
    &__input
      flex-basis: 100%              
@media (max-width: 992px )
  .footer
    &-info
      grid-row: 5
      grid-column: 1/4
    &-text
      justify-content: start 
    &-card
      grid-column: 6/7 

    &__input
      flex-basis: 49% 
    &-wrapper
      grid-template-columns: repeat(6,1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49% 
    &__logo
      grid-row: 1/2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3 
      grid-column: span 2
    &__legal
      grid-column: span 2  
    &__addition
      grid-column: span 2 
      margin: 0 
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form 
        grid-column: span 5
        grid-row: 4
  .packages
    &__button
      padding: 10px 12px
    &-horizonelement
      &-image
        max-width: 280px
      &-text
        max-width: 326px
        padding: 40px 21px 27px 24px
    &-element
      &__image
        border-radius: 8px 0 0 8px
      &-item
        display: flex
        flex-direction: row
    &__text
      border-radius: 0px 8px 8px 0    
    
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      min-width: 340px
    &__menu-button
        display: none
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px 
        line-height: 15px 
  .hotel
    &-grid
      flex-direction: column
      width: 100%
    &__slider
      margin-bottom: 30px
      width: 100%
    &-right
      flex-direction: row
    &-slider
      width: 100%
      height: 350px
  .booking
    width: 340px        
  .reviews 
    &-slider
      &__item
        max-width: 580px  
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px   
  .card
    width: 340px
    height: 250px 
@media (max-width: 768px ) 
  .packages
    &__title
      margin-top: 0
      margin-bottom: 40px
    &-grid 
      display: flex
      flex-wrap: wrap
      justify-content: center
    &-element
      &__image
        border-radius: 8px 0 0 8px
      &-item
        display: flex
        flex-direction: row
    &__text
      border-radius: 0px 8px 8px 0 
  .swiper
    &-container
      height: 400px
  .activities
    padding-bottom: 0
  .reviews
    padding-bottom: 0
  .packages
    padding-top: 0   
    &-horizonelement
      &-text 
        max-width: 300px
        min-width: 250px
        padding: 20px 21px 27px 24px
      &__image
        min-width: 250px
      &__description
        margin-bottom: 20px
  
    
  .container
    max-width: 576px 
    width: 92%  
  body
    padding-top: 78px  
  .navbar
    /*&--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99*/
    &__search,&-menu,&__user
      display: none 
    &-button
      display: none 
  .menu
    &-button
      width: 16px
      height: 11px
      border: none
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color     
  .hotel
    &__slider
       height: 350px
       width: 100%
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__offer 
        order: -1 
        margin-left: 0px!important
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none 
  .stars
    flex-basis: auto!important
  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  #map
    width: 100% 
  .newsletter
    &-wrapper
      max-width: 576px 
      width: 92%
      flex-direction: column 
      align-items: flex-start
  .reviews 
    &-slider
      &__item
        padding: 0 30px 30px
        &:aftre,
        &:before
          display: none
      &__button
        top: 30px 
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%,0) 
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%,0) 
  .activites
    padding-top: 40px
    padding-bottom: 60px        
  .card
    width: 48%
    height: 255px
  /*.packages
    &-horizonelement
      &:first-child
        display: none */ 
  .footer
    &__input
      flex-basis: 100% 
    &-info
      grid-column: 1/5                                                  
@media (max-width: 576px )
  .hotel
    padding-bottom: 50px 
  .packages
    &__title
      margin-top: 0
      margin-bottom: 30px 
    &-grid  
      display: flex
      flex-wrap: wrap
      justify-content: center
    &-element
      &__image
        border-radius: 8px 8px 0 0
      &-item
        display: flex
        flex-direction: column
    &-button
        margin-bottom: 30px
    &-horizonelement
      flex-direction: column
      &__introduction
        margin-bottom: 10px
      &-text 
        height: 250px
        max-width: 350px
        padding: 20px 21px 23px 24px
        border-radius: 0 
      &__offer
        font-size: 8px
        line-height: 10px
        padding: 4px 9px  
      &__image
        height: 100%
        width: 100%
        border-radius: 0
        object-fit: cover
        object-position: 0 0
      &__description
        display: none
        margin-bottom: 20px
      &-guests
        margin-bottom: 20px  
      &-image
        height: 250px
        max-width: 350px
        object-fit: cover
        object-position: 0 0 
  


    &__text 
      border-radius: 0 0 8px 8px
  .logo
    width: 99px    
  .stars
    flex-basis: auto!important
  .hotel
    &-slider
      height: 250px 
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title 
      margin-bottom: 37px    
  .subscribe
    width: 100% 
  .card
    width: 100% 
  .footer
    &-wrapper
      grid-template-columns: 1fr
      row-gap: 20px
    &__logo 
      grid-row: 1
      grid-column: 1 
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__addition
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      margin: 0
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1 
    &-info
      height: 20px
      grid-row: 8
      grid-column: 1
    &-text
      justify-content: start 
    &-card
      margin-top: -30px
      grid-row: 9
      grid-column: 1
      justify-content: start 

                      
@media (max-width: 380px ) 
  .packages
    &-element
      &-media
        margin-left: 0px

      
