 
.swiper
  &-container
    margin-left: 0!important
.hotel
  background-color: $secondary
  padding-top: 17px
  padding-bottom: 70px
  
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__offer
      margin-left: 14px
      margin-top: 4px
      border-radius: 3px  
    &__name
      margin-top: 2px
      margin-bottom: 0
    &__description
      &-page
        margin-bottom: 30px
      margin: 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
  &-right
    display: flex
    flex-direction: column
    justify-content: space-between
  &-slider
    width: 728px
    height: 450px
    &__item
      width: 100%
      height: 100%s
      position: relative
      border-radius: 8px
      overflow: hidden
      &::after
        content: ''
        width: 100%
        height: 100%
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 10 
    &__button
      transition: all 500ms ease
      cursor: pointer
      top: 50%
      transform: translateY(-50%)
      z-index: 99
      position: absolute
      width: 30px
      height: 30px        
      border: none
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      background-color: transparent
      &--next
        right: 18px
        outline: none 
      &--prev
        left: 18px
        outline: none       
.stars
  flex-basis: 100%    
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary
  border: radius 3px
  color: $light
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  color: $light
  background-color: $primary
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
 
.booking
  background-color: $dark
  color: $light
  border-radius: 8px
  width: 350px
  max-height: 210px
  padding: 28px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-family: Nunito
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-family: Nunito
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    font-family: Nunito
    font-size: 12px
    line-height: 16px  
  &__room
    margin-top: 4px
  &__text
    font-size: 12px
    line-height: 16px  
    min-width: 80px
    margin-bottom: 8px
    display: flex
    align-items: center
    justify-content: space-between
  &__descriptionss
    font-family: Nunito
    margin-left: 9px
  &__call-center
    display: flex
    justify-content: space-between
    margin-bottom: 17px
    &__number
      display: flex
      align-items: center
      justify-content: space-between
      color: inherit 
      text-decoration: none
      font-size: 18px
      line-height: 25px
    &__num
      font-family: Nunito
      margin-left: 8px  
  &__heading
    font-family: Nunito
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__button
    transition: all 500ms ease
    word-break: break-all
    font-family: Nunito
    width: 100%
    min-height: 45px
    font-weight: 600
    font-size: 14px
    line-height: 19px 
    border-radius: 4px
    outline: none
    background-color: $primary
    border: none
    color: $light
    cursor: pointer
#map
  cursor: pointer
  width: 347px
  height: 213px 
  border-radius: 10px
  overflow: hidden   
  